.contentHeader{
    background-color: #59300C;
}
.contentLogo{
    display: flex;
    width: 600px;
}
.contentLogo img{
    width: 90px;
    padding: 10px 0 10px 40px;
}
.contentLogo h1{
    padding-top: 28px;
    color: white;
}
